/* less */
/* 定位 */
/* 宽高 */
/* 动画 */
/* left top bottom right */
/* opacity z-index */
/* animation-delay */
/* margin的left right top bottom */
/* padding的left right top bottom */
/* animation-origin */
/* border-radius: */
/* rotate */
/* background-color */
/* 公共部分设置 */
body {
  background-color: #f2f4f5;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
.cont {
  height: 100%;
  text-align: center;
}
.cont .cir {
  width: 244px;
  height: 244px;
  background-color: #505c67;
  border-radius: 50%;
  margin-top: 59px;
  position: absolute;
  left: 50%;
  margin-left: -122px;
  transform-style: preserve-3d;
}
.cir1 {
  overflow: hidden;
}
.font {
  position: absolute;
  width: 100%;
  text-align: center;
}
.font h3 {
  font-size: 22px;
}
.font p {
  font-size: 18px;
}
@-webkit-keyframes deng {
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes guang {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes board1 {
  100% {
    width: 240px;
    height: 7px;
  }
}
@-webkit-keyframes book {
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-webkit-keyframes book4 {
  50% {
    -webkit-transform: perspective(500px) translateZ(0px) rotate(22deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(500px) translateZ(0px) rotate(0deg);
    opacity: 1;
    margin-left: 44px;
    bottom: 39px;
  }
}
@-webkit-keyframes book5 {
  50% {
    -webkit-transform: rotate(52deg) perspective(500px) translateZ(0px);
    opacity: 1;
    bottom: 60px;
  }
  100% {
    -webkit-transform: rotate(0deg) perspective(500px) translateZ(0px);
    opacity: 1;
    bottom: 41px;
    margin-left: 69px;
  }
}
@-webkit-keyframes book6 {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes phone {
  100% {
    -webkit-transform: perspective(500px) rotateX(0deg);
    opacity: 1;
  }
}
/* 第一屏 */
.page-1 .deng {
  width: 45px;
  -webkit-animation: deng 0.5s 0.5s forwards;
  position: relative;
  top: -28px;
  opacity: 0;
  z-index: 1;
}
.page-1 .guang {
  width: 144px;
  position: absolute;
  left: 47px;
  top: 12px;
  opacity: 0;
  -webkit-animation: guang 1s 1.5s forwards;
}
.page-1 .board {
  width: 0px;
  position: absolute;
  height: 7px;
  -webkit-animation: board1 0.5s 1s forwards;
}
.page-1 .board1 {
  left: 2px;
  top: 92px;
}
.page-1 .board2 {
  right: 32px;
  bottom: 33px;
}
.page-1 .books1 {
  width: 14px;
  position: absolute;
  bottom: 40px;
  left: 41px;
  opacity: 0;
  -webkit-animation: book 1s forwards;
  -webkit-transform: perspective(500px) translateZ(360px);
}
.page-1 .book1 {
  -webkit-animation-delay: 2.5s;
}
.page-1 .book2 {
  margin-left: 15px;
  -webkit-animation-delay: 3s;
}
.page-1 .book3 {
  margin-left: 30px;
  -webkit-animation-delay: 3.5s;
}
.page-1 .book4 {
  margin-left: 45px;
  width: 42px;
  bottom: 42px;
  opacity: 0;
  -webkit-animation: book4 1.5s 4s forwards;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(500px) translateZ(360px) rotate(22deg);
}
.page-1 .book5 {
  margin-left: 84px;
  width: 68px;
  bottom: 60px;
  opacity: 0;
  -webkit-animation: book5 1.5s 4.5s forwards;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(500px) translateZ(360px) rotate(52deg);
}
.page-1 .books2 {
  position: absolute;
  width: 67px;
  opacity: 0;
  -webkit-animation: book6 1s forwards;
}
.page-1 .book6 {
  -webkit-animation-delay: 3s;
  top: 81px;
  right: 40px;
}
.page-1 .book7 {
  -webkit-animation-delay: 3.5s;
  top: 69px;
  right: 56px;
}
.page-1 .book8 {
  -webkit-animation-delay: 4s;
  top: 57px;
  right: 46px;
}
.page-1 .phone {
  width: 56px;
  position: absolute;
  left: 42px;
  top: 64px;
  opacity: 0;
  -webkit-animation: phone 2s 6s forwards;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(500px) rotateX(86deg);
}
.page-1 .font {
  top: 340px;
}
@-webkit-keyframes phone2 {
  0% {
    -webkit-transform: scale3d(0, 0, 0) translate(0px);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1) translate(0px);
  }
}
@-webkit-keyframes stars {
  0% {
    -webkit-transform: scale(0.6) translate(0px);
  }
  50% {
    -webkit-transform: scale(1) translate(0px);
  }
  100% {
    -webkit-transform: scale(0.6) translate(0px);
  }
}
@-webkit-keyframes hd1 {
  0% {
    -webkit-transform: scale(0) translate(0px, 0px, 0px);
    bottom: -14px;
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1) translate(0px, 0px, 0px);
    bottom: 40px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translate(0px, 0px, 0px);
    bottom: 35px;
    opacity: 1;
  }
}
@-webkit-keyframes hd2 {
  0% {
    -webkit-transform: perspective(500px) translateZ(0px);
    bottom: 35px;
    left: 45px;
  }
  100% {
    -webkit-transform: perspective(500px) translateZ(150px);
    bottom: 30px;
    left: 100px;
  }
}
@-webkit-keyframes hd3 {
  0% {
    -webkit-transform: perspective(500px) translateZ(150px);
    bottom: 30px;
    left: 100px;
  }
  100% {
    -webkit-transform: perspective(500px) translateZ(0px);
    bottom: 35px;
    left: 145px;
  }
}
@-webkit-keyframes fdj1 {
  100% {
    opacity: 1;
  }
}
/* 第二屏 */
.page-2 .phone2 {
  width: 197px;
  position: absolute;
  bottom: 0px;
  left: 29px;
  -webkit-animation: phone2 1s forwards;
}
.page-2 .stars {
  position: absolute;
  -webkit-animation: stars 1s infinite;
}
.page-2 .star1 {
  width: 12px;
  left: 40px;
  top: 30px;
}
.page-2 .star2 {
  width: 20px;
  right: 28px;
  top: 90px;
  -webkit-animation-delay: 0.5s;
}
.page-2 .star3 {
  width: 18px;
  left: 40px;
  top: 82px;
  -webkit-animation-delay: 0.5s;
}
.page-2 .star4 {
  width: 14px;
  right: 70px;
  top: 90px;
  -webkit-animation-delay: 1s;
}
.page-2 .star5 {
  width: 10px;
  left: 100px;
  top: 120px;
  -webkit-animation-delay: 1s;
}
.page-2 .hd {
  width: 42px;
  position: absolute;
  bottom: -14px;
  left: 45px;
  opacity: 0;
  -webkit-animation: hd1 0.3s 2s forwards,hd2 1s 3s forwards,hd3 1s 4s forwards;
}
.page-2 .wz {
  width: 42px;
  position: absolute;
  bottom: -14px;
  left: 45px;
  opacity: 0;
  -webkit-animation: hd1 0.3s 3.5s forwards,hd2 1s 4s forwards;
}
.page-2 .lm {
  width: 42px;
  position: absolute;
  bottom: -14px;
  left: 45px;
  -webkit-animation: hd1 0.3s 4.5s forwards;
  opacity: 0;
}
.page-2 .fdj {
  width: 161px;
  position: absolute;
  top: 30px;
  right: -5px;
  -webkit-animation: fdj1 1s 1s forwards;
  opacity: 0;
  z-index: 1;
}
.page-2 .fdjg {
  width: 169px;
  position: absolute;
  top: 60px;
  right: 31px;
  opacity: 0;
  -webkit-animation: fdj1 0.5s 2s forwards;
}
.page-2 .font {
  top: 924px;
}
@-webkit-keyframes x1 {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes mstarts {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes phone3 {
  20% {
    -webkit-transform: rotate(-20deg);
    bottom: -20px;
  }
  40% {
    -webkit-transform: rotate(0deg);
    bottom: 0px;
  }
  60% {
    -webkit-transform: rotate(20deg);
    bottom: 0px;
  }
  100% {
    -webkit-transform: rotate(0deg);
    bottom: 0px;
  }
}
@-webkit-keyframes bai1 {
  100% {
    left: 39px;
    bottom: 153px;
    opacity: 1;
  }
}
@-webkit-keyframes bai2 {
  100% {
    left: 108px;
    bottom: 180px;
    opacity: 1;
  }
}
@-webkit-keyframes bai3 {
  100% {
    left: 153px;
    bottom: 175px;
    opacity: 1;
  }
}
/* 第三屏 */
.page-3 .xing1 {
  width: 11px;
  position: absolute;
  top: 61px;
  left: 35px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 0.1s;
  opacity: 0;
}
.page-3 .xing2 {
  width: 10px;
  position: absolute;
  top: 51px;
  left: 67px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 0.3s;
  opacity: 0;
}
.page-3 .xing3 {
  width: 10px;
  position: absolute;
  top: 56px;
  left: 93px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 0.5s;
  opacity: 0;
}
.page-3 .xing4 {
  width: 10px;
  position: absolute;
  top: 57px;
  left: 125px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 0.7s;
  opacity: 0;
}
.page-3 .xing5 {
  width: 10px;
  position: absolute;
  top: 85px;
  left: 135px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 0.9s;
  opacity: 0;
}
.page-3 .xing6 {
  width: 10px;
  position: absolute;
  top: 75px;
  left: 171px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 1.1s;
  opacity: 0;
}
.page-3 .xing7 {
  width: 11px;
  position: absolute;
  top: 47px;
  left: 172px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 1.3s;
  opacity: 0;
}
.page-3 .line1 {
  width: 18px;
  position: absolute;
  top: 58px;
  left: 45px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 0.2s;
  opacity: 0;
}
.page-3 .line2 {
  width: 11px;
  position: absolute;
  top: 58px;
  left: 79px;
  -webkit-animation-delay: 0.4s;
  opacity: 0;
  -webkit-animation: x1 0.1s forwards;
  -webkit-transform: rotate(30deg);
}
.page-3 .line3 {
  width: 14px;
  position: absolute;
  top: 62px;
  left: 106px;
  -webkit-animation-delay: 0.6s;
  opacity: 0;
  -webkit-animation: x1 0.1s forwards;
  -webkit-transform: rotate(11deg);
}
.page-3 .line4 {
  width: 13px;
  position: absolute;
  top: 78px;
  left: 128px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 0.8s;
  opacity: 0;
  -webkit-transform: rotate(89deg);
}
.page-3 .line5 {
  width: 24px;
  position: absolute;
  top: 80px;
  left: 145px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 1s;
  opacity: 0;
}
.page-3 .line6 {
  width: 13px;
  position: absolute;
  top: 65px;
  left: 171px;
  -webkit-animation: x1 0.1s forwards;
  -webkit-animation-delay: 1.2s;
  opacity: 0;
  -webkit-transform: rotate(112deg);
}
.page-3 .mstarts {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: mstarts 3s 2s forwards;
}
.page-3 .phone3 {
  width: 75px;
  position: absolute;
  bottom: -40px;
  left: 95px;
  -webkit-transform-origin: bottom;
  -webkit-animation: phone3 3s 0.6s forwards;
  -webkit-transform: rotate(-100deg);
}
.page-3 .bai1 {
  width: 15px;
  position: absolute;
  left: 73px;
  bottom: 35px;
  -webkit-animation: bai1 1s 1s forwards;
  opacity: 0;
}
.page-3 .bai2 {
  width: 19px;
  position: absolute;
  left: 108px;
  bottom: 84px;
  -webkit-animation: bai2 1s 1.5s forwards;
  opacity: 0;
}
.page-3 .bai3 {
  width: 25px;
  position: absolute;
  left: 153px;
  bottom: 80px;
  -webkit-animation: bai3 1s 2s forwards;
  opacity: 0;
}
.page-3 .font {
  top: 1487px;
}
@-webkit-keyframes hj {
  100% {
    bottom: 20px;
  }
}
@-webkit-keyframes rain {
  100% {
    left: 5px;
    bottom: 0px;
  }
}
@-webkit-keyframes stars {
  0% {
    -webkit-transform: scale(0.6) translate(0px);
  }
  50% {
    -webkit-transform: scale(1) translate(0px);
  }
  100% {
    -webkit-transform: scale(0.6) translate(0px);
  }
}
@-webkit-keyframes cloud {
  100% {
    bottom: -8px;
  }
}
/* 第四屏 */
.page-4 .hj {
  width: 94px;
  position: absolute;
  bottom: -229px;
  left: 84px;
  -webkit-animation: hj 1s forwards;
  z-index: 2;
}
.page-4 .hjw {
  width: 256px;
  height: 280px;
  position: absolute;
  top: -33px;
  left: -6px;
  border-radius: 0 0 50% 50%;
}
.page-4 .cloud {
  width: 210px;
  position: absolute;
  bottom: -40px;
  left: 18px;
  -webkit-animation: cloud 1s forwards;
}
.page-4 .cloudw {
  width: 250px;
  height: 244px;
  position: absolute;
  bottom: -3px;
  border-radius: 50%;
  z-index: 3;
}
.page-4 .rain {
  width: 244px;
  height: 244px;
  border-radius: 50%;
  position: absolute;
  left: 244px;
  bottom: 244px;
  -webkit-animation: rain 2s 0.5s forwards;
}
.page-4 .rainw {
  width: 238px;
  height: 244px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: 0px;
}
.page-4 .stars {
  position: absolute;
  -webkit-animation: stars 1s infinite;
}
.page-4 .star1 {
  width: 12px;
  left: 40px;
  top: 30px;
}
.page-4 .star2 {
  width: 20px;
  right: 28px;
  top: 90px;
  -webkit-animation-delay: 0.5s;
}
.page-4 .star3 {
  width: 18px;
  left: 40px;
  top: 82px;
  -webkit-animation-delay: 0.5s;
}
.page-4 .star4 {
  width: 14px;
  right: 70px;
  top: 90px;
  -webkit-animation-delay: 1s;
}
.page-4 .star5 {
  width: 10px;
  left: 100px;
  top: 120px;
  -webkit-animation-delay: 1s;
}
.page-4 .font {
  bottom: 110px;
}
.page-4 .font h3 {
  color: orange;
  font-size: 32px;
}
.page-4 .font button {
  color: #fff;
  background: url('../images/btn.png') no-repeat;
  width: 161px;
  height: 48px;
  background-size: 100%;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
